@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');



html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", sans-serif;
}